.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 70vh;
  /* Establece la altura máxima en el 100% de la altura de la ventana */
  overflow-y: auto;
  /* Habilita el scroll solo cuando sea necesario */
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* Ancho del scroll */
  scrollbar-color: #112597 #f5f5f5;
  /* Color del scroll */

  text-align: center;
}

.grid-container::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scroll */
}

.grid-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 4, 122, 0.548);
  /* Color del thumb (barra del scroll) */
  border-radius: 8px;
  /* Borde redondeado del thumb */
}

.grid {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
  width: inherit;

  justify-items: center;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.avatar {
  width: 100%;
  height: auto;
  /*transition: transform 0.5s;*/
  /* Transición para apreciar el giro de la img */
}

/* Animación del giro del la fotografía del individuo */
/*
  .avatar:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  */

.lblLinea {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: rgba(59, 59, 168, 0.829);
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  max-width: 80%;
  text-align: center;
  z-index: 1;
  transition: opacity 0.15s;
}

.custom-modal.modal-opened {
  opacity: 1;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: opacity 0.15s;
}

.custom-overlay.overlay-opened {
  opacity: 1;
}

#bodyModal :nth-child(1){
  font-weight: bold;
  text-align: center;
  color: rgb(3, 5, 131);
  font-size: 18px;
}

.ListCategorias p{
  color: #000000 !important;
  font-size: 12px !important;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }


}