.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 78vh;
  /* Establece la altura máxima en el 100% de la altura de la ventana */
  overflow-y: auto;
  /* Habilita el scroll solo cuando sea necesario */
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* Ancho del scroll */
  scrollbar-color: #112597 #f5f5f5;
  /* Color del scroll */
}

.grid-container::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scroll */
}

.grid-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: rgb(143, 146, 250);
  /* Color del thumb (barra del scroll) */
  border-radius: 8px;
  /* Borde redondeado del thumb */
}

.grid {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
  width: inherit;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.avatar {
  width: 100%;
  height: auto;
  /*transition: transform 0.5s;*/
  /* Transición para apreciar el giro de la img */
}

/* Animación del giro del la fotografía del individuo */
/*  
  .avatar:hover {    
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  */

.lblLinea {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: rgba(59, 59, 168, 0.829);
}